.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.song-card-container {
  height: 70vh;
}

.iframe-container {
  height: 30vh;
  width: 100%;
  background-color: #111;
}

.song-card-container .song-card {
  min-height: 200px;
}

.song-card-container .song-card-title {
  min-height: 50px;
  font-size: 1.5em;
}

.song-card-container .song-card-meta {
  font-size: 1.2em;
}

.iframe-container .iframe-music-player-button{
}

.iframe-container .menu-container {
  padding:0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
